body {
    background-color: #d1ccc3;
    display: grid;
    
}
.bgsize {
    width: 60%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    /* border: 1px solid; */
    /* color: #854c3a; */
}
.logo-hero {
    width: 220px;
    height: 220px;
    margin-left: 34%;
}


.posts {
    /* width: 50%; */
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #205b77;
} 
/* .header img{
    margin-left: 35%;
    width: 20%;
    height: 20%;
}*/
.posts #title {
    font-size: 25px;
    padding-top: 3%;
}
a {
    color: #854c3a;
}
a:hover {
    text-decoration: underline;
}
#bpost {
    font-size: 15px;
    color: #205b77;
}
#post-footer {
    display: table;
}
#like-button{
    background: url(unlike.png) no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px; 
    display: table-cell;
    border: none;
}
#comment-button{
    background: url(comment.png) no-repeat;
    background-size: contain;
    width: 19px;
    height: 19px; 
    display: table-cell;
    border: none;
    margin-left: 20px;
}
#like-button:hover {
    background: url(like.png) no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;  
    border: none;
    /* display: table-cell; */
}
#author {
    float: right;
}

#like-counter {
    /* margin-left: 40px; */
    display: table-cell;
    font-size: 15px;
    padding-left: 5px;
    padding-top: -5px;
    /* position: inline; */
    /* text-align: center; */
    
}

.footer {
    /* margin-top: 15%;    */
    bottom: 4%;
    height: 50px;
    position: fixed; 
    margin-left: 60%;
    
}
#footer-button {
    background-color: #205b77;
}


.page-form {
    width: 500px;
    margin-left: 10%;
    margin-top: -50px;
}

.login-form button {
    margin-top: 40px;
    float: right;
}

.login-form table td {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
} 
p label {
    font-size: 18px;
}
.helptext {
    visibility: hidden;
}
form ul {
    font-family: 'Lato', sans-serif;
}
form textarea {
    height: 200px;
    border: 1px solid #9e9e9e;
}

input[type=text]:not(.browser-default):focus:not([readonly])  {
    border-bottom: 1px solid #205b77;
    box-shadow: none;
}
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #205b77;
    box-shadow: none;
}
.page-form {
    margin-left: 20%;
} 

input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #205b77;
    box-shadow: none;

}
/* input[type=email]:required {
    border-bottom: 1px solid #205b77;
} */
.footer {
    font-size:  20px;
    color: #1b161c;
}

code {
    color: #696969;
    margin-left: 10%;
}