{% extends 'base.html' %}

{% block title %}Sine!{% endblock %}
{% block content %}
{% for post in blogpost %}
<div class="posts">
        <p id = "title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        {% if post.imageurl == '' %}
        <p id = "bpost">{{ post.content|truncatewords:15|striptags }}</p>
        {% else %}
        <p id = "bpost">{{ post.content|truncatewords:15|striptags }}</p>
        <p id = "bpost-image"><img src = "{{ post.imageurl }}"/></p>
        {% endif %}
        <div id = "post-footer">
             <input id="like-button" type = "submit" value="" name ="counter"/>
            <!-- <div id = "like-button"> -->
                
                <!-- <img src="Resources/unlike.png"/> -->
            <!-- </div> -->
            <div id = "like-counter">{{ post.likes }}</div>
            <input id="comment-button" type = "submit" value="" name ="counter"/>
            <div id = "like-counter">0</div>   
        </div>
        <div id = "author">{{ post.author }}</div>
    </div>
{% endfor %}
<div class = "footer">
{% if user.is_authenticated %}
  <p class="hello-user">  Hi {{ user.first_name}}! </p>
  <a href="{% url 'logout' %}" class="all-button">Logout</a>
  <a href="{% url 'blog' %}" class="all-button">Write a post</a>
{% else %}
  <!-- <p>You are not logged in</p> -->
  <a href="{% url 'login' %}" class="all-button">Login</a> 
  <a href="{% url 'signup' %}" class="all-button">Signup</a>
</div>
{% endif %}
{% endblock %}