{% extends 'base.html' %}
{% block content %}
    
    <div class="posts">
        <p id = "title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        {% if post.imageurl == '' and post.uploadimg == '' %}
        <p id = "bpost">{{ post.content|safe}}</p>
        {% elif post.uploadimg != '' %}
        <p id = "bpost">{{ post.content|safe }}</p>
        <p id = "bpost-image"><img src = "{{ post.uploadimg.url }}"/></p>
        {% else %}
        <p id = "bpost">{{ post.content|safe }}</p>
        <p id = "bpost-image"><img src = "{{ post.imageurl }}"/></p>
        {% endif %}
        <div id = "post-footer">
             <input id="like-button" type = "submit" value="" name ="counter"/>
            <!-- <div id = "like-button"> -->
                
                <!-- <img src="Resources/unlike.png"/> -->
            <!-- </div> -->
            <div id = "like-counter">{{ post.likes }}</div>
            <input id="comment-button" type = "submit" value="" name ="counter"/>
            <div id = "like-counter">{{ ccounter }}</div>   
        </div>
        <div id = "author">{{ post.author }}</div>
        <!-- Categories& Tags -->
        <p id="title">Category</p>
        <p id = "bpost">{{ post.category }}</p>
        <!-- Comments section -->
        <p id="title">Comments</p>
        {% for com in comment %}
        <div id="comment-section">{{ com.comment_text }}<p id="created_at">{{ com.created_at }}</p></div>
        {% endfor %}
        <!-- Form/Alter 1-->
        <form method="POST">
                {% csrf_token %}
                <input type="text" name="comments_area">
                <button type="submit" class="all-button">Submit</button>
            </form>
            <p>
            <a href="{% url 'edit_post' post.id %}" class="all-button" id = "edit-button">Edit Post</a> 
            </p>
    </div>
    
{% endblock %}