{% extends 'base.html' %}
{% block content %}
    
    <div class="posts">
        <p id = "title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        <p id = "bpost">{{ post.content}}</p>
        <div id = "post-footer">
             <input id="like-button" type = "submit" value="" name ="counter"/>
            <!-- <div id = "like-button"> -->
                
                <!-- <img src="Resources/unlike.png"/> -->
            <!-- </div> -->
            <div id = "like-counter">93</div>
            <input id="comment-button" type = "submit" value="" name ="counter"/>
            <div id = "like-counter">46</div>   
        </div>
        <div id = "author">{{ post.author }}</div>
    </div>
    
{% endblock %}